@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
header{
    display: flex;
    justify-content: center;   
    box-shadow: 0 0 5px #4f4f4f;
    margin-bottom: 3px;
}
.headerlogo{
    padding-top: 15px;
    padding-bottom: 15px;
}
.mainsearchbar{
    background-color: #ebebeb;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    padding-top: 7px
}
.mainsearchbar input{
    border: none;
    background-color: inherit;
    text-align: center;
    font-size: 0.9em;
    width: 30%;
    margin-left: 1%;
}
body{
    margin: 0;
}
.mainintroduction{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #F6F6F7;
    height: 250px;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Roboto', sans-serif;
}
.mainintroduction h2{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 10%;
    padding-right: 10%;
    
}
h2{
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.mainintroduction p{
    font-weight: 100;
    margin-bottom: 40px;
}
p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.btnmain {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom right, #FF79DA, #9356DC);
    color: white;
    text-decoration: none;
    width: 70%;
    height: 50px;
    border-radius: 50px;
    box-shadow: 0 7px 16px #0000002e;
}
.mainfunction {
    padding-top: 30px;
    font-family: 'Roboto', sans-serif;
}
.mainfunction h2 {
    margin-left: 5%;
}
.mainfunction--global {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding-left: 0;
}
ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.mainfunction--containers {
    display: flex;
    background-color: #F6F6F7;
    box-shadow: 0 0 16px #0000002e;
    margin-bottom: 30px;
    width: 80%;
    border-radius: 50px;
    height: 70px;
}
.mainfunction--number {
    background-color: #9356DC;
    border-radius: 50px;
    height: 20px;
    padding: 5px 10px 5px 10px;
    color: white;
    margin-top: 20px;
    margin-left: -10px;
}
.mainfunction--content {
    display: flex;
    justify-content: space-around;
    width: 80%;
    align-items: center;
}
.mainrestaurants {
    padding-top: 30px;
    background-color: #F6F6F7;
    font-family: 'Roboto', sans-serif;
}
.mainrestaurants h2 {
    margin-left: 5%;
}
.main__restaurants--text h3 {
    text-decoration: none;
    margin-bottom: 4px;
}
.mainrestaurants--global {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mainrestaurants--content {
    display: flex;
    justify-content: space-between;
    width: 90%;
}
.mainrestaurants--text {
    color: black;
}
.mainrestaurants--container {
    box-shadow: 0 0 16px #0000002e;
    border-radius: 20px;
    width: 90%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}
.mainrestaurants--img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}
.mainrestaurants--container figure {
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mainrestaurants--new {
    width: 25%;
    height: 30px;
    background-color: #99E2D0;
    color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 5px;
}
.mainrestaurants--favory {
    margin-top: 25px;
    color: black;
}
.footer {
    font-family: "Roboto", sans-serif;
    background-color: #363636;
    padding-left: 5%;
    color: white;
    padding-top: 5px;
    padding-bottom: 30px;
}
.footertitle {
    font-family: "Shrikhand", sans-serif;
}
.footerlink-img {
    display: flex;
}
.footerlink-img i {
    width: 8%;
}
.fa, .fas {
    font-weight: 900;
}
.fa, .far, .fas {
    font-family: "Font Awesome 5 Free";
}
.footerlinks a {
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
}
.heart {
    transition: all 300ms;
  }
  .heart:hover {
    font-weight: 600;
    background: linear-gradient(to bottom right, #FF79DA, #9356DC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
  }
  .header-menu {
    margin-bottom: 0;
}
.headerlogo {
    padding-top: 15px;
    padding-bottom: 15px;
}
.header .fa-arrow-left {
    font-size: 1.7rem;
    position: absolute;
    left: 10px;
    top: 18px;
    color: black;
}
.main-menuimg {
    width: 100%;
    object-fit: cover;
}
.main-menu {
    font-family: "Roboto", sans-serif;
}
.main-menu_container {
    background-color: #F6F6F7;
    border-radius: 40px 40px 0px 0px;
    margin-top: -45px;
    position: sticky;
    padding-bottom: 30px;
}
.main-menu_container--title {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.main-menu_container--title h1 {
    font-family: "Shrikhand", sans-serif;
}
.main-menu_container--component h2 {
    margin-left: 5%;
}
.main-menu_container--component h2::after {
    content: "";
    font-size: 1px;
    padding: 0px 30px 0px 30px;
    border-top: #99E2D0 solid 5px;
}
.main-menu_container--article-infos h3 {
    margin-bottom: 0;
    font-size: 1.1em;
}
.main-menu_container--elements {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 0;
    list-style: none;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.main-menu_container--article {
    background-color: white;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 15px;
    border-radius: 20px;
    padding-right: 8%;
    padding-left: 5%;
    box-shadow: 0 0 16px #0000002e;
}
.main-menu_container--article-infos {
    width: 75%;
    position: relative;
}
.main-menu_container--article-infos p {
    font-size: 0.9em;
    margin-top: 0;
    white-space: initial;
    overflow: hidden;
    width: 100%;
}
.main-menu_container--article span {
    margin-right: -4%;
    margin-top: 40px;
    position: relative;
}
.main-menu_container--submit {
    display: flex;
    justify-content: center;
}
.btn-main {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom right, #FF79DA, #9356DC);
    color: white;
    text-decoration: none;
    width: 70%;
    height: 50px;
    border-radius: 50px;
    box-shadow: 0 7px 16px #0000002e;
}

@keyframes displayMenu {
    0% {
      opacity: 0;
      margin-top: 5px;
    }
    15% {
      opacity: 0;
    }
    75% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
}
@keyframes box {
    from {
      transform: translateX(72px);
    }
    to {
      transform: translateX(10px);
    }
  }
.main-menu_container--article-one {
    animation: displayMenu 1.2s;
}
.main-menu_container--article-two {
    animation: displayMenu 1.4s;
}
.main-menu_container--article-three {
    animation: displayMenu 1.6s;
}
.main-menu_container--encoche {
    width: 20%;
    position: relative;
    border-radius: 0px 20px 20px 0px;
    margin-right: -7%;
    background-color: #99E2D0;
    margin-bottom: -1px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: boxReverse 400ms linear both;
}
.main-menu_container--article:hover .main-menu_container--encoche {
    animation: box 400ms linear both;
}
.main-menu_container--logo-validate {
    background-color: white;
    border-radius: 100px;
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fa-check:before {
    content: "\f00c";
}
.main-menu_container--article:hover {
    overflow: hidden;
}